@import "./variables.scss";

@media screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }

  .theme {
    top: 1%;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  main {
    .main__general-block,
    .main__about-block,
    .main__portfolio-block {
      padding: 3rem 5rem;
    }

    img {
      width: 95%;
    }
  }
}

@media screen and (max-width: 800px) {
  main .main__portfolio-block {
    grid-template-columns: 1fr;
  }

  footer {
    div:first-child {
      flex-wrap: wrap;
      justify-content: center;

      div {
        align-items: center;
      }
    }

    div:nth-child(2) nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    nav {
      flex-wrap: wrap;
      padding: 0;
    }
  }

  main {
    .main__general-block {
      padding: 0 6rem;
      grid-template-columns: 1fr;

      div:first-child {
        display: none;
      }

      div:last-child {
        margin-top: 0;
      }
    }

    .main__about-block {
      padding: 4rem 6rem;
    }

    .main__portfolio-block {
      padding: 6rem 3rem;
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }

  .theme {
    top: 0.5%;
  }

  main {
    .main__general-block {
      padding: 4rem 3rem;
    }

    .main__about-block {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding: 4rem 3rem;

      div:first-child {
        height: max-content;
      }
    }
    .main__portfolio-block {
      padding: 4rem 3rem;
    }
  }
}

@media (any-hover: hover) {
  .container {
    border-radius: 3rem;
    box-shadow: $container-box-shadow;
  }

  header nav {
    a:hover {
      border-radius: 2.6rem;
      border: $nav-hover-border;
    }

    a:last-child:hover {
      border-radius: 2.6rem;
      box-shadow: $nav-hover-button-shadow;
    }
  }

  main .portfolio-block__project:hover {
    transition: all 0.5s;
    background-color: #758091;
  }

  footer {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    div:first-child a:hover {
      border-bottom: solid 1.5px $nav-button-color;
    }
  }
}
