/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Pacifico&family=Roboto&display=swap");
/* variables */
/* colors */
/* shadows and gradients */
/* borders */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  position: relative;
  height: 100%;
}

/* variables */
/* colors */
/* shadows and gradients */
/* borders */
html[data-theme=dark] {
  color-scheme: dark;
}
html[data-theme=dark] .header__logo,
html[data-theme=dark] nav a {
  color: #ffffff;
}

.theme-switcher {
  position: absolute;
  top: 1.5%;
  right: 3%;
  cursor: pointer;
}
.theme-switcher .sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

[data-theme=dark] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme=dark] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }
  .sun-and-moon > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }
  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }
  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }
  [data-theme=dark] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
    transform: scale(1.75);
  }
  [data-theme=dark] .sun-and-moon > .sun-beams {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }
  [data-theme=dark] .sun-and-moon > .moon > circle {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}
/* variables */
/* colors */
/* shadows and gradients */
/* borders */
header {
  display: flex;
  padding: 6rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(211, 216, 220, 0.1);
}
header .header__logo {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  color: #333333;
}
header nav {
  display: flex;
  padding: 1rem 3.6rem;
  gap: 3.2rem;
  font-size: 2rem;
}
header nav a {
  padding: 1.2rem 2rem;
  border: 1px solid transparent;
  transition: all 0.5s;
  text-decoration: none;
  color: #333333;
}
header nav a:last-child {
  border-radius: 2.6rem;
  align-self: center;
  color: #ffffff;
  background-color: #333333;
}

/* variables */
/* colors */
/* shadows and gradients */
/* borders */
main .main__general-block,
main .main__about-block,
main .main__portfolio-block,
main .main__cv-block {
  display: grid;
  padding: 3rem 14rem;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}
main .main__general-block img,
main .main__about-block img,
main .main__portfolio-block img,
main .main__cv-block img {
  max-width: 95%;
}
main .main__general-block .general-block__header,
main .main__general-block .about-block__header,
main .main__general-block .portfolio-block__header,
main .main__general-block .cv-block__header,
main .main__about-block .general-block__header,
main .main__about-block .about-block__header,
main .main__about-block .portfolio-block__header,
main .main__about-block .cv-block__header,
main .main__portfolio-block .general-block__header,
main .main__portfolio-block .about-block__header,
main .main__portfolio-block .portfolio-block__header,
main .main__portfolio-block .cv-block__header,
main .main__cv-block .general-block__header,
main .main__cv-block .about-block__header,
main .main__cv-block .portfolio-block__header,
main .main__cv-block .cv-block__header {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1rem;
}
main .main__general-block .general-block__text,
main .main__general-block .about-block__text,
main .main__general-block .cv-block__text,
main .main__general-block .contacts-block__text,
main .main__about-block .general-block__text,
main .main__about-block .about-block__text,
main .main__about-block .cv-block__text,
main .main__about-block .contacts-block__text,
main .main__portfolio-block .general-block__text,
main .main__portfolio-block .about-block__text,
main .main__portfolio-block .cv-block__text,
main .main__portfolio-block .contacts-block__text,
main .main__cv-block .general-block__text,
main .main__cv-block .about-block__text,
main .main__cv-block .cv-block__text,
main .main__cv-block .contacts-block__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 170%;
  text-align: justify;
}
main .main__general-block div:last-child {
  margin-top: 4rem;
}
main .main__about-block,
main .main__cv-block {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 2%;
  background-color: rgba(211, 216, 220, 0.1);
}
main .main__about-block ul,
main .main__cv-block ul {
  margin-left: 5%;
}
main .main__about-block li,
main .main__cv-block li {
  list-style-type: circle;
}
main .main__portfolio-block {
  padding: 12rem 14rem;
}
main .main__portfolio-block .portfolio-block__projects {
  display: flex;
  justify-content: space-between;
}
main .main__portfolio-block .portfolio-block__projects .portfolio-block__buttons {
  display: flex;
  align-items: center;
}
main .main__portfolio-block .portfolio-block__projects .portfolio-block__buttons button {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  transition: all 0.5s;
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}
main .main__portfolio-block .portfolio-block__projects .portfolio-block__slider img {
  display: none;
}
main .main__portfolio-block .portfolio-block__projects .portfolio-block__slider img.active {
  display: block;
  -webkit-animation: fadeImg 0.8s;
          animation: fadeImg 0.8s;
}
main .main__portfolio-block .portfolio-block__projects .portfolio-block__project {
  display: flex;
  justify-content: center;
}
main .cv-block__text h3 {
  margin-top: 1.5%;
}
main .cv-block__text h4 {
  margin: 1% 0;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* variables */
/* colors */
/* shadows and gradients */
/* borders */
footer {
  padding: 2%;
  background-color: #333333;
}
footer div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  gap: 1rem;
  font-size: 1.5rem;
}
footer div:first-child div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
}
footer div:first-child a {
  margin: 1.2rem 2rem;
  padding-bottom: 0.5rem;
  transition: all 0.5s;
  text-decoration: none;
  border-bottom: solid 1.5px transparent;
  color: #ffffff;
}
footer #email a {
  border: none;
  margin: 0;
}
footer #email a:hover {
  border: none;
  color: #e62118;
}
footer .footer__links {
  display: flex;
  padding: 0.2%;
  justify-content: center;
  font-size: 1.1rem;
  color: #ffffff;
}
footer .footer__links a {
  text-decoration: none;
  transition: all 0.5s;
  color: #ffffff;
}
footer .footer__links a:hover {
  color: #e62118;
}

/* variables */
/* colors */
/* shadows and gradients */
/* borders */
@media screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }
  .theme {
    top: 1%;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  main .main__general-block,
main .main__about-block,
main .main__portfolio-block {
    padding: 3rem 5rem;
  }
}
@media screen and (max-width: 800px) {
  main img {
    display: none;
  }
  main .main__general-block {
    position: relative;
    grid-template-columns: 1fr;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/ui-ux-design.png");
    background-size: auto;
  }
  main .main__portfolio-block {
    grid-template-columns: 1fr;
  }
  footer div:first-child {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer div:first-child div {
    align-items: center;
  }
  footer div:nth-child(2) nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 700px) {
  header nav {
    flex-wrap: wrap;
    padding: 0;
  }
  main .main__general-block {
    padding: 0 6rem;
    grid-template-columns: 1fr;
  }
  main .main__general-block div:last-child {
    margin-top: 0;
  }
  main .main__about-block {
    padding: 4rem 6rem;
  }
  main .main__portfolio-block {
    padding: 6rem 3rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }
  .theme {
    top: 0.5%;
  }
  main .main__general-block {
    padding: 4rem 3rem;
  }
  main .main__about-block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 4rem 3rem;
  }
  main .main__about-block div:first-child {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  main .main__portfolio-block {
    padding: 4rem 3rem;
  }
}
@media (any-hover: hover) {
  .container {
    border-radius: 3rem;
    box-shadow: 0px 0px 75px 35px rgb(84, 77, 77);
  }
  header nav a:hover {
    border-radius: 2.6rem;
    border: 1px solid #544d4d;
  }
  header nav a:last-child:hover {
    border-radius: 2.6rem;
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  }
  .portfolio-block__buttons button:hover {
    border-radius: 2.6rem;
    border: 1px solid #544d4d;
  }
  /* main .portfolio-block__project:hover {
    transition: all 0.5s;
    background-color: $portfolio-block-color-hover;
  } */
  footer {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  footer div:first-child a:hover {
    border-bottom: solid 1.5px #ffffff;
  }
}/*# sourceMappingURL=styles.css.map */