@import "./variables.scss";

@media screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  main {
    .main__general-block,
    .main__about-block,
    .main__portfolio-block,
    .main__cv-block {
      padding: 3rem 5rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    .main__portfolio-block {
      grid-template-columns: 1fr;

      .portfolio-block__header {
        margin: 5%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    img {
      display: none;
    }

    .main__general-block {
      position: relative;
      grid-template-columns: 1fr;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        ),
        url("../images/ui-ux-design.png");
      background-size: 500%;
    }
  }

  footer {
    div:first-child {
      flex-wrap: wrap;
      justify-content: center;

      div {
        align-items: center;
      }
    }

    div:nth-child(2) nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    nav {
      flex-wrap: wrap;
      padding: 0;
    }
  }

  main {
    .main__general-block,
    .main__about-block,
    .main__portfolio-block,
    .main__cv-block {
      padding: 3rem 3rem;
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }

  main {
    .main__general-block,
    .main__about-block,
    .main__portfolio-block,
    .main__cv-block {
      padding: 4rem 3rem;
    }

    .main__about-block,
    .main__cv-block {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0;

      div:first-child {
        height: max-content;
      }
    }

    .general-block__header,
    .about-block__header,
    .portfolio-block__header,
    .cv-block__header {
      margin-bottom: 5%;
    }
  }
}

@media (any-hover: hover) {
  .container {
    border-radius: 3rem;
    box-shadow: $container-box-shadow;
  }

  header nav {
    a:hover {
      border-radius: 2.6rem;
      border: $nav-hover-border;
    }

    a:last-child:hover {
      border-radius: 2.6rem;
      box-shadow: $nav-hover-button-shadow;
    }
  }

  .portfolio-block__buttons {
    button:hover {
      border-radius: 2.6rem;
      border: $nav-hover-border;
    }
  }

  footer {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    div:first-child a:hover {
      border-bottom: solid 1.5px $nav-main-color;
    }
  }
}
