/* variables */

/* colors */
$font-main-color: #333333;
$nav-main-color: #ffffff;
$nav-button-background: #333333;
$block-background-color: rgb(211, 216, 220, 0.1);
$footer-background: #333333;
$footer-links-hover: #e62118;
$portfolio-block-color: #dceff7;
$portfolio-block-color-hover: #758091;

/* shadows and gradients */
$container-box-shadow: 0px 0px 75px 35px rgb(84, 77, 77);
$header-text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);
$nav-links-box-shadow: 0px 1px 2px 0px #333333;
$nav-hover-button-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);

/* borders */
$nav-hover-border: 1px solid #544d4d;
